@{
    ViewData["Title"] = "Home";
}
<h2>Добро пожаловать в приложение «Цитаты»</h2>
<ul>
    <li><button><a href="/today">Сегодняшняя дата</a></button></li>
    <li><button><a href="/add">Добавить новую цитату</a></button></li>
    <li><button><a href="/quote">Посмотреть случайную цитату</a></button></li>
</ul>
